a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
  background-color: #1ec9ff;
}

body {
  font-size: 1.6rem;
}

.container {
  width: 1180px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.icon {
  background-color: #e4e6eb;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  font-size: 20px;
  color: #000;
}

.icon:hover {
  color: #0866ff;
  background-color: #eaf4fe;
}

.logo {
  position: fixed;
  margin-top: 350px;
  margin-left: 1200px;
}

audio {
  width: 220px;
  height: 40px;
}

pre {
  display: block;
  font-family: Delius;
  line-height: 1.2;
}

b {
  font-weight: 900;
}
/* =======================SEARCH=================== */
/* Thiết kế cho thanh tìm kiếm */
.search-form {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 40px;
}

.search-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

section {
  padding: 20px;
}

/* =======================HEADER=================== */

.header {
  display: flex;
  margin-top: 45px;
}

.header__nav {
  margin-left: 223px;
  width: 360px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

/* =======================STREAMLINE ENGLISH 1=================== */
.main__container {
  position: relative;
}

.icon__folder--open {
  position: fixed;
  margin-top: 490px;
  margin-left: 1230px;
}

/* ========================01.1: HELLO */

.lesson {
  display: block;
  text-align: center;
  font-family: Delius;
  font-size: 4rem;
  color: #000;
  padding: 20px;
}

.lesson__01--1 {
  position: relative;
  height: 750px;
}

.lesson__01--1--image1 {
  margin-left: 178px;
}

.lesson__01--1--image2 {
  position: absolute;
  margin-top: 209px;
  margin-left: -160px;
}

.lesson__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  position: fixed;
  z-index: 1;
  margin-left: 390px;
  margin-top: 490px;
}

/* ========================02.1: EXCUSE ME */
.lesson__02--1--image {
  display: block;
  margin: 0 auto;
}

.lesson02__1--text1 {
  margin-top: -120px;
  margin-left: 50px;
}

.lesson02__1--text2 {
  margin-top: -270px;
  margin-left: 525px;
}

.lesson02__1--text3 {
  margin-left: 640px;
}
