a {
  text-decoration: none;
}

i {
  font-style: italic;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
  background-color: #1ec9ff;
}

body {
  font-size: 1.6rem;
  height: 100vh;
}

.container {
  width: 1180px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.icon {
  background-color: #e4e6eb;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  font-size: 20px;
  color: #000;
}

.icon:hover {
  color: #0866ff;
  background-color: #eaf4fe;
}

.logo {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.england {
  width: 130px;
}

audio {
  width: 220px;
  height: 40px;
}

.text {
  display: block;
  font-family: Delius;
  line-height: 1.2;
}

b {
  font-weight: 900;
}

.image {
  display: block;
  margin: 40px auto;
}

.lesson {
  display: block;
  font-family: Delius;
  font-size: 4rem;
  color: #000;
  padding: 20px;
}

.lesson__nav {
  position: absolute;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-left: 10px;
}

.group {
  display: flex;
  position: relative;
}

h2:hover {
  color: yellow;
}

h2 {
  display: block;
  width: 1200px;
  text-align: center;
}
/* Trượt */
.carousel {
  position: relative;
  width: 80%;
  max-width: 1100px;
  height: 1100px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  border-radius: 10px;
}

.carousel-button {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: #a6d3fa;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 999px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.carousel-button:hover {
  background-color: #007bff;
}

.prev {
  left: 50px;
}

.next {
  right: 50px;
}

/* Tạo bảng */
#whiteboard {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  overflow-y: auto;
  white-space: pre-wrap; /* Đảm bảo xuống dòng đúng */
  outline: none; /* Loại bỏ viền khi nhấp vào */
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1.6rem;
  cursor: pointer;
}
/* =======================SEARCH=================== */
/* Thiết kế cho thanh tìm kiếm */
.search-form {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 40px;
}

.search-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 999px 0 0 999px;
}

.search-button {
  margin-top: 0px;
  height: 40px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 999px 999px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

section {
  padding: 20px;
}

/* =======================HEADER=================== */
.header {
  display: flex;
  margin-top: 20px;
}

.header__nav {
  margin-left: 223px;
  width: 360px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

/* =======================STREAMLINE ENGLISH 1=================== */

/* ========================01.1: Hello */
.lesson__01--1--image {
  max-width: 580px;
  margin-left: 420px;
}

.lesson01__1--text1 {
  margin-left: 150px;
  margin-top: -450px;
}

.lesson01__1--text2 {
  margin: 95px 0 60px 200px;
}

/* ========================02.1: Excuse me */
.lesson__02--1--image {
  margin-left: 550px;
  max-width: 420px;
}

.lesson02__1--text1 {
  margin-left: 200px;
  margin-top: -486px;
  max-width: 335px;
}

/* ========================02.1: What is it? */
.lesson__03--1--image {
  max-width: 930px;
}
/* ========================04.1: What is your name? */
.lesson__04--1--image {
  max-width: 320px;
  margin-left: 663px;
}

.lesson04__1--text {
  margin-top: -530px;
  margin-left: 220px;
  max-width: 435px;
}
/* ========================05.1: I'm cold */
.lesson__05--1--image {
  max-width: 800px;
}

/* ========================06.1: A nice flat */
.lesson__06--1--image {
  max-width: 450px;
  margin-left: 500px;
}

.lesson06__1--text {
  margin-top: -500px;
  margin-left: 100px;
  max-width: 400px;
}

/* ========================07.1: Everyday Conversation */
.lesson__07--1--image {
  margin-top: 90px;
  max-width: 700px;
}

.lesson07__1--text1 {
  margin-top: -570px;
  margin-left: 750px;
  max-width: 250px;
}

.lesson07__1--text2 {
  margin-top: -450px;
  margin-left: 170px;
  max-width: 250px;
}

/* ========================08.1: A family re-union */
.lesson__08--1--image {
  max-width: 400px;
  margin-left: 600px;
}

.lesson08__1--text {
  margin-top: -400px;
  margin-left: 100px;
  max-width: 400px;
}
/* ========================09.1 Whose is it? */
.lesson__09--1--image {
  max-width: 500px;
  margin-left: 500px;
}

.lesson09__1--text {
  margin-top: -300px;
  margin-left: 150px;
  max-width: 300px;
}
/* ========================10.1: Is there any wine in the bottle? */
.lesson__10--1--image {
  max-width: 300px;
  margin-left: 600px;
}

.lesson10__1--text1 {
  margin-top: -690px;
  margin-left: 300px;
}
/* ========================13.1: Elton Kash */
.lesson__13--1--image {
  max-width: 500px;
  margin-left: 550px;
}

.lesson13__1--text {
  margin-top: -630px;
  margin-left: 150px;
  max-width: 390px;
}

/* ========================16.1: Gloria Gusto, Tom Atkins and Terry Archer */
.lesson__16--1--image {
  margin-top: 60px;
  max-width: 800px;
}

.lesson16__1--text1 {
  margin-left: 150px;
  max-width: 230px;
}

.lesson16__1--text2 {
  margin-top: -269px;
  margin-left: 450px;
  max-width: 230px;
}

.lesson16__1--text3 {
  margin-top: -192px;
  margin-left: 750px;
  max-width: 230px;
}

/* ========================17.1: At the customs */
.lesson__17--1--image {
  margin-left: 650px;
  max-width: 300px;
}

.lesson17__1--text {
  margin-top: -520px;
  margin-left: 200px;
  max-width: 450px;
}

/* ========================21.1: What are they doing? */
.lesson__21--1--image {
  margin-left: 600px;
  max-width: 300px;
}
.lesson21__1--text {
  margin-top: -270px;
  margin-left: 300px;
  max-width: 300px;
}
/* ========================22.1: Can you help me? */
.lesson__22--1--image {
  max-width: 450px;
  margin-left: 550px;
}

.lesson22__1--text {
  margin-top: -460px;
  margin-left: 150px;
  max-width: 400px;
}
/* ========================25.1: At the cinema */
.lesson__25--1--image {
  max-width: 900px;
  margin-top: 60px;
}

.lesson25__1--text1 {
  max-width: 450px;
  margin-top: -710px;
  margin-left: 200px;
}

.lesson25__1--text2 {
  max-width: 450px;
  margin-top: 140px;
  margin-left: 500px;
}

.lesson25__1--text3 {
  max-width: 450px;
  margin-top: 180px;
  margin-left: 200px;
}
/* ========================26.1: What's on television tonight? */
.lesson__26--1--image {
  max-width: 450px;
  margin-left: 550px;
}

.lesson26__1--text {
  margin-top: -440px;
  margin-left: 150px;
  max-width: 400px;
}
/* ========================27.1: In prison */
.lesson__27--1--image {
  max-width: 350px;
  margin-left: 550px;
}

.lesson27__1--text {
  margin-top: -550px;
  margin-left: 150px;
  max-width: 350px;
}
/* ========================28.1: An English Wedding */
.lesson__28--1--image {
  max-width: 450px;
  margin-top: 60px;
}

.lesson28__1--text1 {
  max-width: 300px;
  margin-left: 50px;
  margin-top: -10px;
}

.lesson28__1--text2 {
  max-width: 300px;
  margin-left: 400px;
  margin-top: -156px;
}

.lesson28__1--text3 {
  max-width: 300px;
  margin-left: 750px;
  margin-top: -156px;
}
/* ========================29.1: Computer dating */
.lesson__29--1--image {
  max-width: 400px;
  margin-left: 600px;
}

.lesson29__1--text {
  margin-top: -365px;
  margin-left: 200px;
  max-width: 390px;
}
/* ========================32.1: An interview */
.lesson__32--1--image {
  max-width: 500px;
  margin-left: 550px;
  margin-top: 80px;
}

.lesson32__1--text {
  max-width: 440px;
  margin-left: 100px;
  margin-top: -520px;
}

/* ========================33.1: Every day */
.lesson__33--1--image {
  max-width: 500px;
  margin-left: 500px;
}

.lesson33__1--text {
  max-width: 300px;
  margin-left: 200px;
  margin-top: -440px;
}
/* ========================35.1: Never on a Sunday */
.lesson__35--1--image {
  max-width: 400px;
  margin-left: 600px;
}

.lesson35__1--text1 {
  max-width: 400px;
  margin-left: 100px;
  margin-top: -440px;
}

.lesson35__1--text2 {
  margin-left: 100px;
  margin-top: 125px;
}
/* ========================36.1: A Questionnaire */
.lesson__36--1--image {
  max-width: 500px;
  margin-left: 500px;
  margin-top: 60px;
}

.lesson36__1--text1 {
  max-width: 380px;
  margin-left: 100px;
  margin-top: -475px;
}

.lesson36__1--text2 {
  margin-top: 25px;
  margin-left: 320px;
}

/* ========================37.1: What does he do every day? */
.lesson__37--1--image {
  max-width: 300px;
  margin-left: 550px;
}

.lesson37__1--text {
  max-width: 380px;
  margin-left: 120px;
  margin-top: -475px;
}
/* ========================38.1: Well or badly? */
.lesson__38--1--image {
  max-width: 350px;
  margin-left: 550px;
}

.lesson38__1--text {
  max-width: 330px;
  margin-left: 120px;
  margin-top: -560px;
}
/* ========================39.1: Everyday Conversation */
.lesson__39--1--image {
  max-width: 300px;
  margin-left: 550px;
}

.lesson39__1--text {
  margin-top: -820px;
  margin-left: 200px;
  max-width: 390px;
}
/* ========================41.1: Where were you yesterday? */
.lesson__41--1--image {
  max-width: 400px;
  margin-left: 600px;
}

.lesson41__1--text {
  margin-top: -495px;
  margin-left: 200px;
  max-width: 390px;
}

/* ========================44.1: Return from Space */
.lesson__44--1--image {
  max-width: 400px;
  margin-left: 600px;
}

.lesson44__1--text {
  margin-top: -495px;
  margin-left: 200px;
  max-width: 390px;
}

/* ========================45.1: Yes, dear! */
.lesson__45--1--image {
  max-width: 400px;
  margin-left: 600px;
}

.lesson45__1--text {
  margin-top: -640px;
  margin-left: 130px;
  max-width: 450px;
}

/* ========================48.1: Foreign holidays */
.lesson__48--1--image {
  max-width: 400px;
  margin-top: 100px;
}

.lesson48__1--text1 {
  margin-top: -395px;
  margin-left: 760px;
  max-width: 300px;
}

.lesson48__1--text2 {
  margin-top: -290px;
  margin-left: 50px;
  max-width: 300px;
}

.lesson__49--1--image {
  max-width: 800px;
  margin-top: 60px;
}

.lesson49__1--text {
  margin-left: 250px;
  max-width: 600px;
}

/* ========================52.1: The Eight O'Clock News */
.lesson__52--1--image {
  max-width: 200px;
}

.lesson52__1--text1 {
  margin-top: -775px;
  margin-left: 50px;
  max-width: 350px;
}

.lesson52__1--text2 {
  margin-top: -565px;
  margin-left: 700px;
  max-width: 350px;
}

/* ========================56.1: An investigation */
.lesson__56--1--image {
  max-width: 700px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.lesson56__1--text1 {
  margin-left: 200px;
  max-width: 230px;
  margin-top: 50px;
}

.lesson56__1--text2 {
  margin-top: -267px;
  margin-left: 500px;
  max-width: 400px;
}

/* ========================64.1: Town and Country */

.lesson__64--1--image {
  max-width: 700px;
  margin-top: 60px;
}

.lesson64__1--text1 {
  margin-top: -29px;
  margin-left: 200px;
  max-width: 330px;
}

.lesson64__1--text2 {
  margin-top: -287px;
  margin-left: 570px;
  max-width: 330px;
}

/* ========================77.1: The election result */

.lesson__77--1--image {
  max-width: 350px;
  margin-top: 60px;
  margin-left: 150px;
}

.lesson77__1--text {
  margin-left: 550px;
  margin-top: -460px;
  max-width: 400px;
}
