a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
  background-color: #1ec9ff;
}

body {
  font-size: 1.6rem;
  height: 100vh;
}

.container {
  width: 1180px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.icon {
  background-color: #e4e6eb;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  font-size: 20px;
  color: #000;
}

.icon:hover {
  color: #0866ff;
  background-color: #eaf4fe;
}

.logo {
  position: fixed;
  margin-top: 500px;
  margin-left: 20px;
}

audio {
  width: 220px;
  height: 40px;
}

pre {
  display: block;
  font-family: Delius;
  line-height: 1.2;
}

b {
  font-weight: 900;
}

.image {
  display: block;
  margin: 0 auto;
}

.lesson {
  display: block;
  font-family: Delius;
  font-size: 4rem;
  color: #000;
  padding: 20px;
}

.lesson__nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -560px 10px 0 auto;
}

h2:hover {
  color: yellow;
}

/* Trượt */
.carousel {
  position: relative;
  width: 80%;
  max-width: 1400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  border-radius: 10px;
}

.carousel-button {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: #a6d3fa;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 999px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.carousel-button:hover {
  background-color: #007bff;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* =======================SEARCH=================== */
/* Thiết kế cho thanh tìm kiếm */
.search-form {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 40px;
}

.search-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 999px 0 0 999px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 999px 999px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

section {
  padding: 20px;
}

/* =======================HEADER=================== */
.header {
  display: flex;
  margin-top: 20px;
}

.header__nav {
  margin-left: 223px;
  width: 360px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

/* =======================STREAMLINE ENGLISH 1=================== */

/* ========================01.1: Hello */
.lesson__01--1--image {
  max-width: 680px;
}
/* ========================02.1: Excuse me */
.lesson__02--1--image {
  max-width: 820px;
}

.lesson02__1--text1 {
  margin-left: 150px;
}
